@import "reset";
@import "constants";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900);

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font--bold);
}

h1,
h2,
h3,
p {
  line-height: 140%;
}

img {
  max-width: 100%;
  height: auto;
}

/* =========== REUSABLE CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-left: 1.5em;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 20px;
    background-color: var(--first-color);
  }
}

/*============== HEADER ===============*/

.header {
  width: 100%;
  // background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle {
      color: #fff;
    }

    &__logo {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      font-weight: var(--font-bold);
    }

    &__logo-img {
      width: 0.75rem;
    }

    &__toggle {
      display: inline-flex;
      font-size: 1.15rem;
      cursor: pointer;
    }

    &__list {
      display: flex;
      flex-direction: column;
      text-align: center;
      row-gap: 3rem;
      padding-top: 9rem;
    }

    &__link {
      text-transform: uppercase;
      color: var(--text-color-light);
      font-size: var(--h2-font-size);
      transition: 0.3s;
      &:hover {
        color: #fff;
      }
    }
    &__close {
      font-size: 2rem;
      color: #fff;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    &__menu {
      position: fixed;
      background-color: var(--black-color);
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }
  }
}

.show-menu {
  right: 0;
}

/*============== Change background header ===============*/

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  & .nav__logo,
  & .nav__toggle {
    color: var(--title-color);
  }

  & .nav__logo-img {
    mix-blend-mode: difference;
  }
}

/*============== HOME ===============*/

.home {
  gap: 0;

  &__container {
    padding: 7rem 0 2.5rem;
    background: linear-gradient(
      160deg,
      hsla(206, 5%, 24%, 1) -4%,
      hsla(206, 12%, 12%, 1) 46%
    );
  }

  &__content {
    position: relative;
  }

  &__title,
  &__data-title {
    color: #fff;
  }

  &__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1.5rem;
    span {
      color: var(--first-color);
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  &__data {
    border-top: 1px solid var(--text-color);
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  &__data-number {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
  }

  &__data-title {
    font-size: var(--h3-font--size);
    margin-bottom: 0.5rem;
  }

  &__scroll {
    position: absolute;
    width: 100px;
    bottom: -7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: scroll 3s infinite;
  }
}

/* Scroll image animate */

@keyframes scroll {
  0% {
    transform: translateY((0));
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/*============== BUTTON ===============*/

.button {
  display: inline-block;
  background-color: var(--black-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.25rem;
  font-size: var(--normal-font-size);
  text-transform: uppercase;
}

/*============== SPECIALTY ===============*/

.specialty {
  &__category {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    row-gap: 2.5rem;
  }

  &__group {
    text-align: center;
    &:hover .specialty__img {
      transform: translateY(-0.25rem);
    }
  }

  &__img {
    transition: 0.4s;
  }
}

/*============== PRODUCTS ===============*/

.products {
  &__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2rem;
    margin-bottom: 3.5rem;
  }

  &__item {
    cursor: pointer;
  }

  &__line {
    position: relative;
    &:nth-child(1)::before,
    &:nth-child(2)::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: var(--text-color-light);
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  &__title {
    font-size: var(--h3-font--size);
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }

  &__stock {
    font-size: var(-small-font-size);
  }

  &__content {
    grid-template-columns: 200px;
    justify-content: center;
  }

  &__card {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    &:hover .products__img {
      transform: translateY(-0.25rem);
    }
  }

  &__shape {
    background-color: var(--card-color);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    padding: 0.25rem 0;
  }

  &__img {
    width: 150px;
    transition: 0.4s;
  }

  &__data {
    padding: 1rem 0 1.25rem 1rem;
    position: relative;
  }

  &__price {
    font-size: var(--h2-font-size);
  }

  &__name {
    font-size: var(--normal-font-size);
  }

  &__button {
    border-radius: 50%;
    padding: 0.625rem;
    display: inline-flex;
    font-size: 1.25rem;
    position: absolute;
    right: 1rem;
    top: -1.25rem;
    box-shadow: 0 4px 12px hsla(206, 4%, 4%, 0.2);
  }
}

/* Active link products */

.active-product .products__title {
  color: var(--title-color);
}

/*============== QUALITY ===============*/

.quality {
  background-color: #fff;

  &__content {
    row-gap: 2.5rem;
  }

  &__images {
    position: relative;
    justify-self: center;
  }

  &__img-big,
  &__img-small {
    border-radius: 0.5rem;
  }

  &__img-big {
    width: 280px;
  }

  &__img-small {
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: translateX(-5rem);
  }

  &__title,
  &__price {
    font-size: var(--h1-font-size);
  }

  &__title {
    margin-bottom: 0.75rem;
  }

  &__price {
    margin-bottom: 0.25rem;
  }

  &__special {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 0.75rem;
  }

  &__description {
    margin-bottom: 2.5rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
  }

  &__button {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;

    & i {
      font-size: 1.25rem;
      transition: 0.4s;
    }

    &:hover i {
      transform: translateX(-0.25rem);
    }
  }
}

/*============== LOGO ===============*/

.logo {
  background-color: #fff;
  &__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    border-top: 1px solid var(--text-color-light);
    padding-top: 2.5rem;
  }

  &__img {
    width: 80px;
    mix-blend-mode: luminosity;
    opacity: 0.4;
    transition: 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }
}

/*============== BLOG ===============*/

.blog {
  &__container {
    padding-bottom: 2rem;
  }

  &__content {
    row-gap: 3rem;
  }

  &__card {
  }

  &__image {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__img {
    border-radius: 0.5rem;
  }

  &__button {
    display: inline-flex;
    background-color: #fff;
    padding: 1.15rem;
    border-radius: 0.5rem 0 0.5rem 0;
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    right: 0;
    bottom: 0;

    & i {
      transform: rotate(-30deg);
      transition: 0.4s;
    }

    &:hover i {
      transform: rotate(-30deg) translate(0.25rem);
    }
  }

  &__data {
  }

  &__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.75rem;
  }

  &__description {
    margin-bottom: 1.5rem;
  }

  &__footer,
  &__reaction {
    display: flex;
    align-items: center;
  }

  &__footer {
    column-gap: 1.5rem;
  }

  &__reaction {
    column-gap: 0.25rem;
    i {
      font-size: 1.25rem;
    }
    span {
      font-size: var(--small-font-size);
    }
  }
}
